[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
langchain = "*"
langchain-core = "*"
langchain-openai = "*"
black = "*"
python-dotenv = "*"
langgraph = "*"
jupyterlab = "*"
langgraph-checkpoint-postgres = "*"
langchain-community = "*"
duckduckgo-search = "*"
alembic = "*"
psycopg = "*"
sqlmodel = "*"
greenlet = "*"
celery = {extras = ["redis"], version = "*"}
opentelemetry-api = "*"
opentelemetry-sdk = "*"
opentelemetry-exporter-otlp = "*"
minio = "*"
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-instrumentation-psycopg = "*"
opentelemetry-instrumentation-redis = "*"
opentelemetry-instrumentation-requests = "*"
opentelemetry-instrumentation-urllib = "*"
asyncpg = "*"
openai-agents = "*"
opentelemetry-exporter-jaeger = "*"
deprecated = "*"

[dev-packages]
pip = "*"
pytest = "*"
black = {extras = ["jupyter"], version = "*"}
pytest-asyncio = "*"

[requires]
python_version = "3.13"
